.login {
    background-color: #555;
    width: 300px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: white;
    border-radius: 20px;

}

.login h2 {
    margin-top: 35px;
    margin-bottom: 20px;
}

.name {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.password {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.password a {
    color: lightskyblue;
    margin-top: 4px;
    text-decoration: none;
}

input {
    padding: 8px 50px 7px 8px;
    border-radius: 3px;
    border: none;
    margin-top: 10px;
}

.btn {
    padding: 9px 25px;
    font-size: 16px;
    background: white;
    color: #555;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.link {
    margin-top: 35px;
}

.link p a {
    color: lightskyblue;
    text-decoration: none;
}

.lfooter {
    margin-top: 148px;
}