    body {
        display: flex;
        flex-direction: column;
        justify-content: center;

        align-items: center;

        min-height: 100vh;
        margin: 0;

        background: #f3f3f3;

    }


    .container {
        background: #555;
        color: white;
        width: 420px;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
        margin-top: 10px;
        margin-bottom: 10px;
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }

    .form-group label {
        margin-bottom: 6px;
    }

    .form-group input,
    .form-group select,
    .form-group textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 15px;
    }

    button {
        padding: 12px;
        width: 100%;
        border: none;
        border-radius: 6px;
        background: white;
        color: #555;
        font-size: 16px;
        cursor: pointer;
    }

    button:hover {
        background: #8a8484;
        color: white;
    }