@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Potta+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;

}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}


nav {
    background: #555;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    width: 14vw;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.my-2 {
    margin: 10px;
}

.line {
    height: 1px;
    width: 100vw;
    background-color: black;
}

.my-4 {
    margin: 24px;
}

.m-left {
    margin-left: 20px;
}

footer {
    height: 60px;
    width: 100%;
    background-color: #555;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0 0;
}

.images img {
    margin: 10px;
    width: 200px;
}

.audio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.audio audio {
    margin-top: 20px;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.video iframe {
    margin-top: 20px;
}

.footer {
    margin-top: 44px;
}